[flake8]
ignore = D203
builtins = _
max-line-length=119
extend-ignore = E203, W503
per-file-ignores = __init__.py:F401
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .egg-info,
    .tox,
    env/
max-complexity = 10
