# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# virtualenv
.venv/
venv/
ENV/
.tox
msgram-cli-venv
.python-version

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml
junit.xml

# Code editors
.vscode
**/*.code-workspace

# analytics-raw-data
analytics-raw-data/

.measuresoftgram
.msgram/
.env
**/*.log

setup.py

# Vim
*.swp

# ctags
tags
